.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }

@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');

.scramble {
    font-size: x-large;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: #545454;
}

.center {
    display: flex;
    justify-content: center;
}

.center.vertical {
    flex-direction: column;
    align-items: center;
}

.space-around {justify-content: space-around;}

.parity-sequence {
    display: flex;
    justify-content: space-around;
}

.color-box {
    min-height: 10vw;
    min-width: 10vw;

    border-radius: 10px;
    box-shadow: 2px 2px 4px #eee;
}

/* same colors as for newmonochrome */
.color-box.green {background-color: #45f545;}
.color-box.red {background-color: #ff4545;}
.color-box.blue {background-color: #6360ff;}
.color-box.orange {background-color: #ffa645;}

table.parity-count-analysis td {
    padding-right: 10px;
}

.selected-wrapper {
    padding: 2px 5px;
    display: inline;
}
.selected-wrapper.selected-case {
    background-color: lightgray;
    border-radius: 10px;
}

/* Allow clicking a panel's heading at any position. The default behavior is
   that only clicking the panel header text collapses the panel. */
/* https://stackoverflow.com/a/44274589/1336788 */
.panel-heading {
    padding: 0;
    cursor: pointer;
}
.panel-title a {
    display: block;
}

/* parity analysis */
.color {
    min-width: 15px;
    min-height: 15px;
    margin: 2px;
    margin-top: 8px;
    display: inline-block;
    border-radius: 3px;
}

.color.color-button {
    border: 1px solid lightgray;
}

/* algorithm insights */

.insight.shape-shifted {
    /* lighten steps that are out of cubeshape */
    color: #009bea;
}

/* Only show when leaving/entering cubeshape misaligned, since that is rarer */
.insight.entered-cubeshape.misaligned::after {
    content: " *";
    font-weight: bolder;
    color: red;
}

.insight.leaving-cubeshape.misaligned::before {
    content: " *";
    font-weight: bolder;
    color: lightblue;
}

.alg-step-group {
    display: inline-block;
}

button.flat {
    /* remove button appearance. This way can style the :active state */
    cursor: default;
    border: none;
    width: 100%;
    outline: none;
}

.timer {
    background-color: #e1e0e0;
    padding: 10px;
    border-radius: 4px;
    font-size: x-large;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    height: 2.5em;
    color: #333;
}

.timer > .waiting {
    /* make the waiting text unobtrusive */
    font-size: small;
    color: darkgray;
}

.timer:active {
    background-color: lightgreen !important;
    color: #333 !important;
}

.timer.eight-seconds {background-color: #f5f500;}
.timer.twelve-seconds {background-color: orange;}
.timer.fourteen-seconds {background-color: #ff3636;}
.timer.fifteen-seconds {
    background-color: #4c4c4c;
    color: lightgray;
}
